body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0e8edd, #4facfe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px ;
}

p {
  margin: 15px 0 5px;
  color: #0e8edd;
  font-weight: bold;
  font-size: 18px;
}

input {
  width: 300px ;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #0e8edd;
  box-shadow: 0 0 5px rgba(14, 142, 221, 0.3);
}

button {
  width: 330px ;
  padding: 12px;
  background-color: #0e8edd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #09649a;
  transform: translateY(-2px);
}

.mensagem{
  color: black;
}